 /* CSS RESET Begins */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
  border: 0.5px dotted grey; 
	font-size: 62.5%;
	font: inherit;
  letter-spacing:1px;
  vertical-align: baseline;
  font-family:'Roboto Mono',serif;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET section ENDS */

/* every element is a border-box */
*{
  box-sizing: border-box;
}

/* start your css here */

body {
  font-family: 'Roboto Mono', monospace;
  font-size:62.5%;
  text-align:center;
  max-width:100%;
   /* margin:2% auto; */
  margin:0;
}
.container {
	width: 100%;
	margin:0;
  padding:0;
  font-size:1.5rem;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center; /* center */
}

.mynav li {
  display: inline-block; /* stay on same line for all li elements */
  width:30%; /* here 3 nav tabs */
 /* width: 33.3%; check*/
 }

.mynav a {
  display: block; /* all a element will be displayed block to contol width height and padding*/
  text-decoration: none;
  border-radius: 1rem; /*10px*/
  color:white;
  margin-left:35%;
  margin-top:10%;
  padding:2.5%;
  width:50%;
  height:5rem;
  transition: .3s background-color;
  text-align:center; /* center */
  line-height: 110%;
}

.mynav a:hover {
  background-color: #005f5f;
  /*scale transform to increase the size of element */
  transform:scale(1.2);
 /* box-shadow:1% 1% 4% #005f5f; doesnt work with % so used px*/
   box-shadow:5px 5px 20px 5px #86bbbb;
}
 

.topimg {
  margin-top:2rem;
  margin-left:2rem;
  display:inline-block;
  border-radius: 50%;
  vertical-align:top;
  width:25%;
  }

.maininfo{
    width:60%;
    display:inline-block; /*so it appears on the same line as pic */
    margin-top: 4rem;
    font-weight: 500;
    }
h1{
   font-family:'Chelsea Market', cursive;
   text-align:center;
   font-size:3.5rem;
   padding-bottom:1rem;
   color:black;
  /* My animation */
  animation-name:myanim;
  animation-duration:3s;
  animation-timing-function:ease-in-out;
  animation-delay:2s; /*wait before start of animation */
  animation-iteration-count:infinite; /* name,duration, timing function,delay,count */
}
/* keyframes rule to specify animation code */
@keyframes myanim{
  0%{
  color:  grey;
  transform: skewY(1deg);}
  40%{ 
  color: gold;
  transform: skewY(1deg);}  
  70%,75%{
   color: khaki; 
   transform: skewY(2deg);
  }
   80%,90%,95%{
    color: goldenrod;
    transform: skewY(1deg);
  }
  100%{
    color:black;
    transform: skewY(0deg);
  }
}
h2{
  width:70%;
  margin:0 auto;
  font-size:1.1rem;
  padding-bottom:1rem;
  font-weight: 500;
  }
.parkstatus{
  width:55%;
  margin:0 auto;
  font-size:1.2rem;
  font-weight: 500; 
}
 
 .detail{
  background-color:#DDB9A3;
  color:white;
  width:90%;
  margin:2% auto;
  text-align:center;
  font-size:1.25rem;  
  padding:1%;
  line-height: 120%;
}
p{
  padding:1%
}

.planVisit{
  background-color:#ff764e;
}

.learnPark{
  background-color: #5ed3eb;
}

.involveIn{
  background-color:#ffcd69;
}

.icon .firePic{
 display: block; /*appear as stack..and occupy the entire line */
  margin: 0 auto; /* horizontally center the element within container */
  width: 50%;
  height:10rem;
  width:10rem;
}

.fireDesc{
  width: 30%;
  font-size:1rem;
  margin: 0 auto;
  text-align: center;
  padding:1%;
}

.icon .vehicle{
  display: block;
  margin: 0 auto;
  width: 50%;
  height:10rem;
  width:10rem;
}
.vehicleDesc{
  width: 30%;
  font-size:1rem;
  margin: 0 auto;
  text-align: center;
  padding:0.5%;
  margin-bottom:5rem;
   }

span{
   font-weight: bold;
}

.footerImg {
  height:20rem;
  width:100%; 
  margin:auto;
  padding-bottom:2rem;
}
 
footer {
  background-color:#F9E7DC;
  padding-bottom:2rem;
}